@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap');
/*reseteo*/

*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
body{ /*valores del body*/
    
    font-family: "Cormorant", serif;
   /* padding: 10px;*/

}
h1 {/*valores de las etiquetas h1*/
    font-family: "Playwrite DE Grund Guides", serif;
   /*  font-size: 3rem;/*3=16px*/
    color: rgb(26, 2, 240) !important;
   /* margin-bottom: 40px;*/
    text-align: center;
   /* padding-top: 20px;*/
}
h2{
    font-size: 2rem;/*2/16px*/
    color: rgb(26, 2, 240);
   /* margin-top: 20px;*/
   /* margin-bottom: 20px;*/
    text-align: center;

}
.colordecartas{
    color: black;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: rgb(245, 245, 245);
}

.botton{
        margin-top: 20px;
        padding: 20px;
        text-decoration: none;
        display: inline-block;
        color: blue;
        border: 1px solid blue;
        text-align:center;}
    

.navbar-collapse {
    justify-content: flex-end;
}
/*header{
    background-color:rgba(207, 196, 133, 0.911)
} */

footer{ 
   width: 100%;
   background-color: rgb(228, 120, 81);
}


 .bgcolornav
 {
    background-color:rgb(228, 120, 81);
 }
main{ 
     flex: 1;
   background-color:rgb(252, 239, 165)
}
   
   h1{/* esto afecta al titulo*/
    text-align: center;
    font-family: "Playwrite DE Grund Guides", serif;
    color: rgb(26, 2, 240);
   font-size: 4rem;
    padding: 10px;
   }
    a{
           /* margin-top: 10px;*/
            text-decoration: none;
            display: inline-block;
            /*color: rgb(42, 246, 253);*/
            font-family: "Cormorant", serif;
            text-align:center;
            
        } 
        p{
           /* color: rgb(75, 72, 70);*/
            margin-top: 20px;
            padding: 30px;
            text-align: right;
            font-family: "Cormorant", serif;
            
        }

        
        .diseñodetabla th
         {
            background-color: rgb(252, 239, 165);
        }
        .diseñodetabla td{
             background-color: rgb(252, 239, 165);
        }
       